./hockey-runs/*
./hockey-runs-copy/*
./hockey-models/*
./runs/*
./models/*
model/*
.vscode/*
__pycache__/*
runs/
hockey-runs/
hockey-models/
hockey-runs-copy/
hockey-runs-attack/
attack_models/
hockey-runs-defence/
hockey-models-defence/
laserhockey/__pycache__
selfplay-runs/
selfplay_models/
hockey-ere-models-attack/
hockey-models-attack_old/
hockey-ere-runs-attack/
hockey-runs-attack_old/
lunar_lander_runs_baseline_ere_per/
strongplay_models/
selfstrongplay_models
selfstrongplay-runs/
hockey-hidden-models-attack/
hockey-hidden-models-defence/
hockey--models-attack/
hockey-hidden-runs-defence/
hockey-hidden-runs-attack/
ppo_baseline
hockey-models-attack/
selfstrongplay_models_ere/
selfstrongplay_models_prio/
strongplay-runs*
strongplay_models*
strongplay-runs*
strongplay_models*
dueling_models*
duelplay_models*
duelplay_models_*
final-models/
selfplay-final-runs/
best_ofbest_models/
finals
selfplay-best_of-runs
