.vscode/
.ipynb_checkpoints/
__pycache__/
laserhockey/__pycache__/
attack_models/
backend/
best-of_models/
client/
common/
csv_runs/
finals/
formatted_plots/
full_player_models/
plots/
ppo/
plots_notebook.ipynb